# Project exclude paths
DTAM/
GANeratedHands/GanHandsAPI/CMakeLists.txt
GANeratedHands/GanHandsAPI/HandSkeleton.pdf
GANeratedHands/GanHandsAPI/README.md
GANeratedHands/GanHandsAPI/bin/
GANeratedHands/GanHandsAPI/build/
GANeratedHands/GanHandsAPI/cmake/
GANeratedHands/GanHandsAPI/data/CNNClassifier/
GANeratedHands/GanHandsAPI/data/HandTracker/.gitignore
GANeratedHands/GanHandsAPI/data/HandTracker/ConfigFile_old.params
GANeratedHands/GanHandsAPI/data/Videos/
GANeratedHands/GanHandsAPI/data/ddd.images
GANeratedHands/GanHandsAPI/data/images/
GANeratedHands/GanHandsAPI/data/output/
GANeratedHands/GanHandsAPI/extern/
GANeratedHands/GanHandsAPI/src/CMakeLists.txt
GANeratedHands/GanHandsAPI/src/VideoToImg.cpp
GANeratedHands/GanHandsAPI/src/main_OLD.cpp
GANeratedHands/GanHandsAPI/src/net_weights/
ORB-SLAM/
OpenCV/
SIFT_database/
YOLO/
artoolkitx-calibration/
src/.idea/
src/cmake-build-debug/
src/images/
src/python/.idea/
src/python/ARScene.pyc
src/python/DistanceCalibrator.pyc
src/python/FeaturesDetection.pyc
src/python/Maker.jpg
src/python/SIFT matching points.png
src/python/crop.pyc
src/python/frame.jpg
src/python/venv/
GANeratedHands/GanHandsAPI/data/HandTracker/.gitignore
GANeratedHands/GanHandsAPI/data/HandTracker/ConfigFile_old.params

